.Card {
  background-color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Card h2 {
  margin: 0px;
  border: 1px solid black;
}

.monster {
  border: 1px solid black;
}

.hidden-pkm {
  display: none;
}

.show-pkm {
  height: 200px;
  display: all;
  overflow-y: auto;
}
